<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row">
      <div flex></div><h4 >New Card</h4><div flex></div>
    </div>
  </md-toolbar>
  <md-content>
     <form ng-submit="createCard(card.list)">
      <md-input-container>
        <label>Item</label>
        <input type="text" class="form-control" ng-model="card.name" required>
      </md-input-container>
      <md-input-container>
        <label>Description</label>
        <input type="text" class="form-control" ng-model="card.description">
      </md-input-container>
      <md-radio-group ng-model="card.list">
        <label>Add to list:</label>
        <md-radio-button ng-value="list" aria-label="Label 1" ng-repeat="list in lists">{{list.name}}</md-radio-button>
      </md-radio-group>
      <md-actions layout="row">
        <md-button type="submit" class="md-raised md-primary" flex="100">
          Save
        </md-button>
      </md-actions>
    </form>
  </md-content
</md-dialog>