<section layout="column" layout-fill layout-align="space-around center"> 
  <h2>Login</h2>
  <p class="alert alert-error" ng-show="error">{{error}}</p>
  <form ng-submit="login()">
    <md-input-container>
      <label>Email</label>
      <input type="text" class="form-control" ng-model="user.email" placeholder="email">
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input type="password" class="form-control" ng-model="user.password">
    </md-input-container>
    <md-button type="submit" class="md-raised md-primary">
      Login
    </md-button
  </form>
</section>