<section layout="column" layout-fill layout-align="space-around center"> 
  <h2>Register</h2>
  <p class="alert alert-error" ng-show="error">{{error}}</p>
  <form ng-submit="register()">
    <md-input-container>
      <label>Name</label>
      <input type="text" ng-model="user.name" class="form-control">
    </md-input-container>
    <md-input-container>
      <label>Email</label>
      <input type="text" ng-model="user.email" class="form-control">
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input type="password" ng-model="user.password" class="form-control">
    </md-input-container>
    <md-button type="submit" class="btn btn-primary">
      Submit
    </md-button>
  </form>
</section>